@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path-custom {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }

  .Noscroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }